body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(13, 27, 16);
}

h1{
    margin-top: 180px;
    color: #ffffff;
}

canvas{
    margin: 50px 10px;
    box-shadow: black 20px 10px 20px;
}

/*.content{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    background: rgb(102, 167, 113);
    border-radius: 10px;
    box-shadow: black 10px 5px 5px;
}*/

button{
    text-align: center;
    /*display: inline-block;*/
    font: 400 15px "Lato", sans-serif;
    margin: 5px 10px;
    width: 85px;
    height: 40px;
    font-size: 20px;
    border-radius: 3px;
    outline: none;
    background: rgb(29, 82, 79);
    color: #eeebeb;
    cursor: pointer;
}